{% extends "layout.jinja2" %}
{% block main %}
    <div class="tile is-ancestor">
        {% for example in examples %}
            <div class="tile is-parent is-4">
                <article class="tile is-child box">
                    <p class="title"><a href="/examples/{{ example.path.name }}">{{ example.title }}</a></p>
                    <p class="subtitle">What is up?</p>
                    <div class="content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu
                            pellentesque
                            tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.</p>
                    </div>
                </article>
            </div>
        {% endfor %}
    </div>
{% endblock %}
